:root {
  --btn-shadow: 4px 4px 32px #d3121c;
  --primary-clr: #3C324C;
  --secondary-clr: #ED2E38;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Light'), local('DINPro-Light'),
    url('../fonts/DINPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro'), local('DINPro'),
    url('../fonts/DINPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Bold'), local('DINPro-Bold'),
    url('../fonts/DINPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

.page-body {
  font-family: 'DIN Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1A1A1A;
  line-height: 21px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--primary-clr);
}

.page-body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-clr);
}

.container {
  margin: 0 auto;
  width: 1152px;
}

.main-logo--disabled {
  pointer-events: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  padding: 16px 24px;
  height: 48px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--secondary-clr);
  box-shadow: var(--btn-shadow);
}

.btn::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("../img/icons/up.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.btn:hover {
  box-shadow: none;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  color: #fff;
  background: linear-gradient(0deg, rgba(60, 50, 76, 0.85), rgba(60, 50, 76, 0.85));
  border-radius: 4px;
  overflow: hidden;
}

.box::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.box__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 8px;
}

.box__text {
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 0;
  margin-bottom: 32px;
  white-space: pre-wrap;
}

.box__btn {
  width: 148px;
}

.main-header__top {
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;
  padding-bottom: 32px;
  align-items: center;
}

.main-logo {
  display: block;
}

.main-logo__img {
  display: flex;
}

.main-header__logo {
  margin-right: 64px;
}

.contact-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list__item {
  display: flex;
  align-items: center;
}

.contact-list__item:not(:last-child) {
  margin-right: 32px;
}

.contact-list__item::before {
  display: block;
  width: 18px;
  height: 16px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-list__item--email::before {
  content: "";
  background-image: url("../img/icons/email.svg");
}

.contact-list__item--phone::before {
  content: "";
  background-image: url("../img/icons/phone.svg");
}

.contact-list__link {
  text-decoration: none;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social-item:not(:last-child) {
  margin-right: 8px;
}

.social-item__link {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  overflow: hidden;
  color: transparent;
}

.social-item__logo {
  object-fit: contain;
}

.social-item__icon {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.main-header__socials {
  margin-right: 96px;
  margin-left: auto;
}

.locale-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.locale-list::before {
  content: "";
  display: block;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/globe.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.locale-list__item:not(:last-child) {
  margin-right: 8px;
}

.locale-list__link {
  text-decoration: none;
  color: #8775A4;
}

.locale-list__link--current {
  color: inherit;
  pointer-events: none;
}


.main-header__bottom {
  display: flex;
  align-items: center;
  background-color: var(--primary-clr);
  color: #fff;
  min-height: 104px;
}

.main-header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-navigation {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.site-navigation__item {
  position: relative;
  padding-top: 18px;
}

.site-navigation__item:not(:last-child) {
  margin-right: 32px;
}

.site-navigation__link {
  display: block;
  text-decoration: none;
  color: #8775A4;
  cursor: pointer;
  min-width: max-content;
}

.site-navigation__link--current {
  color: inherit;
}

.site-navigation__link--current::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--secondary-clr);
  border-radius: 5px;
}

.page-navigation {
  position: absolute;
  left: -16px;
  top: calc(100% + 24px);
  z-index: 1;
  display: flex;
  visibility: visible;
  flex-direction: column;
  list-style: none;
  border-radius: 4px;
  padding: 32px;
  background: #8775A4;
  box-shadow: 0px 100px 80px rgb(0 0 0 / 7%),
    0px 65px 47px rgb(0 0 0 / 5%),
    0px 38px 25px rgb(0 0 0 / 4%),
    0px 20px 13px rgb(0 0 0 / 4%),
    0px 8px 6px rgb(0 0 0 / 3%),
    0px 2px 3px rgb(0 0 0 / 2%);
}

.page-navigation--hidden {
  display: none;
  visibility: hidden;
}

.page-navigation::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: 32px;
  width: 16px;
  height: 13px;
  background-image: url(../img/icons/triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.page-navigation__item:not(:last-child) {
  margin-bottom: 8px;
}

.page-navigation__link {
  text-decoration: none;
  display: block;
  min-width: max-content;
}

.page-navigation__link--current {
  pointer-events: none;
}

.carrier-link {
  display: flex;
  text-decoration: none;
  width: 264px;
  align-items: center;
  justify-content: center;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.carrier-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("../img/icons/pen-tool.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.carrier-link--current {
  border: 0;
  background: var(--secondary-clr);
  box-shadow: var(--btn-shadow);
  pointer-events: none;
}


.main-footer__top {
  background-color: var(--primary-clr);
  padding: 64px 0;
}

.main-footer__top-container {
  position: relative;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  margin: 0;
  color: #fff;
}

.footer-navigation__inner:not(:last-of-type) {
  margin-right: 64px;
}

.footer-navigation__term {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 16px;
}

.footer-navigation__item {
  margin: 0;
}

.footer-navigation__item:not(:last-of-type) {
  margin-bottom: 8px;
}

.footer-navigation__link {
  text-decoration: none;
}

.scroll-top-btn {
  position: absolute;
  right: 0;
  top: calc(50% - 24px);
  display: block;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  box-shadow: var(--btn-shadow);
  cursor: pointer;
  background-color: var(--secondary-clr);
  background-image: url("../img/icons/up.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.scroll-top-btn:hover {
  box-shadow: none;
}

.main-footer__bottom-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 0;
}

.main-footer__contact-list {
  margin-right: 32px;
}

.copyright {
  margin: 0;
  white-space: pre-wrap;
  text-transform: uppercase;
}

.main-footer__copyright {
  margin-top: 32px;
  width: 100%;
  text-align: center;
}

.board {
  display: flex;
  align-items: center;
  min-height: 540px;
  background-color: lightgrey;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.board--home {
  background-image:
    url("../img/board-mask.svg"),
    url("../files/img/home-board.png");
}

.board__inner {
  max-width: 704px;
  margin-left: 104px;
}

.board__inner--narrow {
  max-width: 520px;
}

.board__title {
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 50px;
  line-height: 67px;
}

.board__text {
  margin-top: 0;
  margin-bottom: 32px;
  white-space: pre-wrap;
  font-size: 28px;
  line-height: 38px;
  font-weight: 300;
}

.board__text--upper {
  text-transform: uppercase;
}

.board__btn {
  width: 220px;
}

.home-page-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 320px);
  gap: 32px;
  margin: 32px auto;
}

.history-glide {
  width: 560px;
  height: 320px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../files/img/history.png");
  border-radius: 4px;
  overflow: hidden;
}

.history-glide__title {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 88px;
}

.history-glide__filter {
  position: absolute;
  left: 40px;
  top: 40px;
  right: 40px;
  z-index: 1;
  display: flex;
  background-color: #3c324c;
  border-radius: 4px;
  max-width: max-content;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.history-glide__filter::-webkit-scrollbar {
  display: none;
}

.history-glide__filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-clr);
  color: #fff;
  margin: 8px;
  cursor: pointer;
}

.history-glide--closed-filter .history-glide__filter-item:not(.glide__bullet--active) {
  display: none;
}

.history-glide__filter-item.glide__bullet--active::after {
  content: "";
  margin-left: 16px;
  width: 6px;
  height: 10px;
  background-image: url("../img/icons/arow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.history-glide__filter {
  position: absolute;
  left: 40px;
  top: 40px;
  right: 40px;
  z-index: 1;
  display: flex;
  background-color: #3c324c;
  border-radius: 4px;
  max-width: max-content;
}

.history-glide--closed-filter .history-glide__filter-item.glide__bullet--active {
  background-color: var(--primary-clr);
}

.history-glide--opened-filter .history-glide__filter-item.glide__bullet--active {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.history-glide--closed-filter .history-glide__filter-item.glide__bullet--active::after {
  display: block;
}

.history-glide--opened-filter .history-glide__filter-item.glide__bullet--active::after {
  display: none;
}

.history-glide__slide {
  padding: 42px;
  padding-top: 128px;
  color: #fff;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(60, 50, 76, 0.85), rgba(60, 50, 76, 0.85));
}

.history-glide__text {
  margin: 0;
}

.history-glide__bullets {
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: flex;
}

.history-glide__bullet {
  border: none;
  display: flex;
  width: 12px;
  height: 12px;
  background: #E6E6E6;
  border-radius: 50%;
}

.history-glide__bullet:not(:last-of-type) {
  margin-right: 8px;
}

.glide__bullet--active {
  background-color: var(--secondary-clr);
}

.home-page-grid__history,
.home-page-grid__management {
  grid-column: span 3;
}

.home-page-grid__management::before {
  background-image: url("../files/img/management.png");
}

.home-page-grid__investors::before {
  background-image: url("../files/img/investors.png");
}

.home-page-grid__contribution::before {
  background-image: url("../files/img/contribution.png");
}

.home-page-grid__opportunity::before {
  background-image: url("../files/img/video.png");
}

.home-page-grid__investors,
.home-page-grid__contribution {
  grid-column: span 2;
}

.home-page-grid__opportunity {
  grid-column: 3 / 7;
  grid-row: 2 / 4;
}

.modern-tjk {
  padding-right: 200px;
  padding-left: 200px;
  align-content: center;
}

.modern-tjk__title {
  white-space: pre-wrap;
  margin: 0;
  margin-bottom: 16px;
  line-height: 67px;
  font-size: 50px;
  font-weight: 700;
}

.modern-tjk__text {
  line-height: 38px;
  font-size: 28px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 48px;
}

.modern-tjk__play {
  margin-left: auto;
}

.play-video {
  line-height: 19px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: end;
}

.play-video::after {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-color: var(--secondary-clr);
  box-shadow: var(--btn-shadow);
  background-image: url("../img/icons/play.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 16px;
  border-radius: 50%;
}

.play-video:hover::after {
  box-shadow: none;
}

.home-news {
  background-color: var(--primary-clr);
  padding: 64px 0;
  color: #fff;
  margin-bottom: 128px;
}

.home-news__container {
  position: relative;
}

.title {
  font-weight: 700;
  margin: 0;
  font-size: 21px;
  line-height: 28px;
}

.title--light {
  color: #fff;
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caption--light {
  color: #fff;
}

.caption__inner {
  max-width: 610px;
}

.caption__title {
  margin-bottom: 16px;
}

.caption__subtitle {
  margin: 0;
}

.home-news__caption {
  margin-bottom: 32px;
}

.caption__btn {
  min-width: 208px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.news-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-card__img {
  display: block;
  margin-bottom: 32px;
  order: -2;
}

.news-card__date {
  order: -1;
  display: block;
  margin-bottom: 16px;
}

.news-card__title {
  color: #ED2E38;
  margin: 0;
  margin-bottom: 8px;
}

.news-card__text {
  margin: 0;
  margin-bottom: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  width: 120px;
  margin-top: auto;
}

.home-news__btn {
  position: absolute;
  right: 0;
  top: 28px;
}

.home-projects__caption {
  margin-bottom: 32px;
}

.home-projects {
  margin-bottom: 128px;
}

.about-history__board {
  background-image: url("../img/board.svg"), url("../files/img/about-history-board.png");
  margin-bottom: 32px;
}

.about-history__play-video {
  margin-left: 270px;
}

.about-history__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 128px;
}

.about-history__title {
  margin-top: 8px;
}

.about-history__text {
  margin: 0;
}

.about-mvv__board {
  background-image: url("../img/board.svg"), url("../files/img/mission-board.jpg");
  margin-bottom: 32px;
}

.about-vision__title,
.about-values__title,
.our-values__title {
  margin-bottom: 8px;
}

.about-vision__subtitle,
.about-values__subtitle,
.our-values__subtitle {
  margin: 0;
  margin-bottom: 64px;
  max-width: 550px;
}

.about-vision__board {
  background-image: url("../img/board.svg"), url("../files/img/vision-board.jpg");
  margin-bottom: 64px;
}

.about-values__board {
  background-image: url("../img/board.svg"), url("../files/img/values-board.jpg");
  margin-bottom: 64px;
}

.values-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  grid-auto-rows: 230px;
  color: #fff;
}

.our-values__values-list {
  margin-bottom: 128px;
}

.value-item {
  height: 100%;
  background: linear-gradient(0deg, rgba(60, 50, 76, 0.85), rgba(60, 50, 76, 0.85));
  border-radius: 4px;
  padding: 48px;
  position: relative;
}

.value-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.value-item:first-child::before {
  background-image: url("../files/img/values/value-1.jpg");
}

.value-item:nth-child(2)::before {
  background-image: url("../files/img/values/value-2.jpg");
}

.value-item:nth-child(3)::before {
  background-image: url("../files/img/values/value-3.jpg");
}

.value-item:nth-child(4)::before {
  background-image: url("../files/img/values/value-4.jpg");
}

.value-item:nth-child(5)::before {
  background-image: url("../files/img/values/value-5.jpg");
}

.value-item:last-child::before {
  background-image: url("../files/img/values/value-6.jpg");
}

.value-item__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-bottom: 8px;
}

.value-item__text {
  margin: 0;
}
